.quizz-container{
  background: #351B59;
  max-width: 1200px;
  padding: 80px;
  margin:80px;
  border-radius: 20px;
  text-align: center;
}

.quizz-container > h1{
  font-size: 8rem;
  margin-bottom: 40px;
}

.quizz-container > h2{
  margin-bottom: 40px;
}

.quizz-questions{
  padding: 80px;
  background: #8D69BF;
  border-radius: 20px;
  margin-bottom: 40px;
}

.quizz-options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.quizz-results{
  background: #8D69BF;
  padding: 80px;
  border-radius: 20px;
}
